.dogsGridWrapper {
    width: 100%;
    display: block;
    height: 100%;
    background-color: #f0f0f0;
    padding-bottom: 1.5rem;
    overflow-y: auto;
}

.dogsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
    overflow-y: auto;
    flex-grow: 1;
}

.loadMore {
    margin-top: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

.loadMore button {
    padding: 0.75rem 1.5rem;
    background-color: lightskyblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.loadMore button:disabled {
    background-color: #d3d3d3;
    color: #ffffff;
    cursor: not-allowed;
    opacity: 0.7;
    box-shadow: none;
}

.loadMore button:hover {
    background-color: mediumorchid;
}

.loading {
    width: 100%;
}

@media (min-width: 1200px) {
    .dogsGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .dogsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .dogsGrid {
        grid-template-columns: 1fr;
    }
}
