.aside {
    height: 100%;
    width: 300px;
    min-width: 300px;
    padding: 1rem;
    background-color: lightcyan;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 1rem;
}

.filterSection {
    margin-bottom: 1rem;
}

.filterSection label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
