.sortByContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.select {
    width: 10rem;
}
.btn {
    margin-left: auto;
    border: none;
    background-color: lightblue;
    padding: 10px 24px;
    cursor: pointer;
    font-size: 16px;
}