.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    padding: 1rem;
    background-color: whitesmoke;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}


.mainContent {
    margin: 4rem 13rem 0 15rem;
    height: calc(100vh - 4rem);
    overflow: hidden;
}


.logoutButton {
    padding: 0.5rem 1rem;
    background-color: lightskyblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.logoutButton:hover {
    background-color: mediumorchid;
}

/* .footer {
    height: 4rem;
    display: flex;
    justify-content: center;
} */